<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newproject">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FindMapActivity"/>
        <activity android:name=".MyFeedDetailActivity"/>
        <activity android:name=".AddFeedActivity"/>
        <activity android:name=".Activity.MyFeedActivity"/>
        <activity android:name=".Activity.LocalUserRegisterActivity"/>
        <activity android:name=".Activity.GeneralUserRegisterActivity"/>
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyLocationActivity"/>
        <activity android:name=".ChatActivity"/>
        <activity android:name=".Activity.GalleryActivity"/>
        <activity android:name=".Activity.GeneralUserActivity"/>
        <activity android:name=".Activity.LocalUserActivity"/>
        <activity android:name=".MyItemListActivity"/>
        <activity android:name=".Activity.ServiceItemDetailActivity"/>
        <activity android:name=".Activity.AddStuffItemActivity"/>
        <activity android:name=".Activity.AddServiceItemActivity"/>
        <activity android:name=".Activity.UserRegisterActivity"/>
        <activity android:name=".Activity.StuffItemListDetailActivity"/>
        <activity android:name=".Activity.StuffItemDetailActivity"/>
        <activity android:name=".Activity.ServiceItemListDetailActivity"/>
        <activity android:name=".Activity.MainActivity"/>
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="94f6e20cdcbf24eacb09c76fb2fe43e1"/>

    </application>

</manifest>